.row
  .col-xs-12
    %h1 To Do Lists

    = link_to new_todo_list_path, remote: true do
      .fa.fa-plus-square
      New todo list

  .col-xs-12
    #accordion-panel.panel-group
      - @todo_lists.sort_by(&:created_at).reverse.each do |list|
        = render 'todo_list', list: list
